body {
	background-image: url('../images/vidbackground.jpg'); 
	background-size: cover;
	background-color: #000; 
	color: #fff;
}
h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 100px;
}

img {

	float: left;
	height: 484px;
	width: 700px;
	padding-left: 40px;
}

iframe {
	position: absolute;
	top: 190px;
	left: 58px;
	z-index: -1;
}

#play {
	height: 55px;
	width: 90px;
	position: absolute;
	top: 220px;
	left: 560px;
}

#pause {
	height: 55px;
	width: 90px;
	position: absolute;
	top: 305px;
	left: 560px;
}

#lyrics {
	width: 500px;
	max-height: 484px;
	overflow-y: scroll;
	float: left;
	padding-left: 40px;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	background-color: #000;

}